
<div class="container" id="content">
			<p>
	<h1>Customer Registration Form</h1>
			</p>
</div>
			<!-- Page Content starts here -->
<center><span ng-if="accountCreatedMessage"><font color="green">{{accountCreatedMessage}}</font></span></center>
<div class="container my-5">
				<div class="row">
					<div class="col-md-6">
						<form name="registrationForm" novalidate ng-submit="signup()">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="fname" class="col-form-label">First Name</label>
									<input type="text" class="form-control" id="fname" ng-model="registrationFormData.firstName" placeholder="Name">
								</div>
								<div class="form-group col-md-6">
									<label for="lname" class="col-form-label">Last Name</label>
									<input type="text" class="form-control" id="lname" ng-model="registrationFormData.lastName" placeholder="Name">
								</div>
								<div class="form-group col-md-6">
									<label for="email" class="col-form-label">Email</label>
									<input type="text" class="form-control" id="email" ng-model="registrationFormData.email" placeholder="Email">
								</div>
								<div class="form-group col-md-6">
									<label for="phone" class="col-form-label">Phone</label>
									<input type="text" class="form-control" id="phone" ng-model="registrationFormData.phone" placeholder="Phone Number">
								</div>
								<div class="form-group col-md-6">
									<label for="address1" class="col-form-label">Address Line 1</label>
									<input type="text" class="form-control" id="address1" ng-model="registrationFormData.address1" placeholder="Address Line 1">
								</div>
								<div class="form-group col-md-6">
									<label for="address2" class="col-form-label">Address Line 2</label>
									<input type="text" class="form-control" id="address2" ng-model="registrationFormData.address2" placeholder="Address Line 2">
								</div>
								<div class="form-group col-md-6">
									<label for="password" class="col-form-label">Password</label>
									<input type="password" class="form-control" id="password" ng-model="registrationFormData.password" placeholder="Password">
								</div>							
								<div class="form-group col-md-6">
									<label for="confirm_password" class="col-form-label">Confirm Password</label>
									<input type="password" class="form-control" id="confirm_password" ng-model="registrationFormData.cpassword" placeholder="Confirm Password">
								</div>							
															
							</div>
							<div class="row">
								<div class="col-md-6 mt-5">
									<input type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid" value="Register">
								</div>
							</div>    
						</form>
					</div>
				</div>
</div>
			<!-- Page Content ends here -->

