<div class="container" id="content">
		<p>
			<h2>Customer Complaints</h2>
			<h3></h3>
		</p>
	</div>
	<!-- Page Content starts here -->
	<div class="container my-5">
		<table class="table table-hover">
			<thead>
				<th scope="col">cust-id</th>
				<th scope="col">Product Name</th>
				<th scope="col">Complaint</th>
				<th scope="col">Date</th>
				<th scope="col">Status</th>
				<th scope="col">Remarks</th>
				<th scope="col">Save</th>
			</thead>
			<tbody>
				<tr>
					<td scope="row">1</td>
					<td>Laptop</td>
					<td>Processor Damaged</td>
					<td>18-Feb-2019</td>
					<td>
						<div class="form-group col-md-12">
							<select class="custom-select" id="form1-state">
								<option value="" selected>Assigned</option>
								<option value="1">Inprogress</option>
								<option value="2">Resolved</option>
								<option value="3">NotResolved</option>
							</select>
						</div>
					</td>
					<td><div class="form-group col-md-12">
						<input type="text" class="form-control" id="Remarks" placeholder="Remarks" required>
					</div>	</td>	
					<td>
						<div class="form-group col-md-12">
							<input type="submit" class="btn btn-primary" value="Save">
						</div>
					</td>
				</tr>
				<tr>
					<td scope="row">2</td>
					<td>Laptop</td>
					<td>RAM damaged,Blue screen</td>
					<td>18-Feb-2019</td>
					<td>
						<div class="form-group col-md-12">
							<select class="custom-select" id="form1-state">
								<option value="" selected>Assigned</option>
								<option value="1">Inprogress</option>
								<option value="2">Resolved</option>
								<option value="3">NotResolved</option>

							</select>
						</div></td>
						<td><div class="form-group col-md-12">
							<input type="text" class="form-control" id="Remarks" placeholder="Remarks" required>
						</div>	
					</td>	
					<td>
						<div class="form-group col-md-12">
							<input type="submit" class="btn btn-primary" value="Save">
						</div>
					</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>Desktop</td>
					<td>Not starting</td>
					<td>19-Feb-2019</td>
					<td>
						<div class="form-group col-md-12">
							<select class="custom-select" id="form1-state">
								<option value="" selected>Assigned</option>
								<option value="1">Inprogress</option>
								<option value="2">Resolved</option>
								<option value="3">NotResolved</option>

							</select>
						</div></td>
						<td><div class="form-group col-md-12">
							<input type="text" class="form-control" id="Remarks" placeholder="Remarks" required>
						</div>
					</td>	
					<td>
						<div class="form-group col-md-12">
							<input type="submit" class="btn btn-primary" value="Save">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
</div>


