
		<div class="container" id="content">
			<p>
				<h2>Track Complaint</h2>
				<h3></h3>
			</p>
		</div>
		<!-- Page Content starts here -->
		<div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <form action="#" method="post">
                <div class="row">
					<div class="form-group col-md-6">
						<label for="track_id" class="col-form-label">Complaint ID</label>
						<input type="text" class="form-control" id="track_id" placeholder="Complaint Id" required>
					</div>
					<div class="row">
						<div class="col-md-6 mt-5">
							<input type="submit" class="btn btn-primary" value="Track">
						</div>
					</div>    
                </form>
                </div>
            </div>
        </div>
		<div class "row">
			<table class="table">
			  <thead>
				<th>Product_name</th>
				<th>Complaint_Text</th>
				<th>Date</th>
				<th>Complaint_Status</th>
				<th>Remarks</th>
			  </thead>
			  <tbody>
			  <tr>
			   <td>Mobile</td>
				<td>Screen Damaged</td>
				<td>10-Feb-2019</td>
				<td>InProgress</td>
				<td>This is displayed on Track button pressed</td>
			  </tr>
			  </tbody>
			</table>		
		</div>
        </div>
